/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://use.typekit.net/ohb7fqk.css");

:root {
  --foreground-hex: #c4dedf;
  --background-hex: #c4dedf;
  --menu-hex: #2b536a;
  --circle-top-background-hex: #add0bb;
  --circle-middle-background-hex: #c4dee0;
  --circle-left-background-hex: #516663;
  --circle-right-background-hex: #517587;
  --bold-green: #52a288;
  --light-green: #a4cca9;
  --circle-border: 1px solid #5ea790;
  --text-main-color: #2b536a;
  --text-font: "canada-type-gibson", sans-serif;
}

* {
  color: var(--text-main-color);
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

body {
  background-color: var(--background-hex);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 8rem; */
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: var(--menu-hex);
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: sticky; /* Fixed/sticky position */
  top: 0;
  z-index: 2;
}

footer {
  background-color: var(--menu-hex);
  width: 100vw;
  height: 10vh;
  text-decoration: none;
  position: fixed;
  z-index: 2;
  bottom: 0;
}

.icon {
  background: transparent;
  border-radius: 25px;
  padding: 0.35rem;
}

/* if you are on this page show the following */
.icon:active {
  background: #ffffff25;
  border-radius: 25px;
  padding: 0.35rem;
}

/* on the header */
.logo {
  background-color: transparent;
  padding-left: 3rem;
}

.signout {
  background-color: transparent;
  border-style: none;
  justify-self: right;
  padding-right: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* can be used anywhere */

.no-margin {
  margin: 0 !important;
}

.bottom-of-page {
  margin-bottom: 14vh;
}

.justify-center {
  justify-content: center !important;
}

.width70 {
  width: 70%;
}

.underline {
  text-decoration: underline !important;
}

.italic {
  font-style: italic;
}

.padding {
  padding: 5vh;
}

/*two text options*/
.text-bold {
  font-style: normal;
  max-width: 30ch;
  margin-bottom: 0.75rem;
  font-weight: 500;
  text-decoration: none;
}

.text-regular {
  max-width: 30ch;
  margin: 0 auto;
  font-weight: 300;
  text-decoration: none;
}

h3 {
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 1.6px;
  padding: 2vh;
  justify-self: left;
}

/* use this on any container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  overflow: hidden;
}

/* 3 grid versions */
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

/*on index page*/

.add-margin {
  margin-right: 5px;
  margin-left: 5px;
}

.availability {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
}

.availability-box {
  border: 0;
  margin-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #ffffffbd;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  height: max-content;
}

.edit-avialability-btn {
  background-color: var(--circle-top-background-hex);
  border-radius: 0px 25px 0px 25px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px !important;
  max-width: none;
}

h2.home {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1.96px;
  padding: 5vh;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.colorThree-main-page {
  width: 12rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 0px 0px 0px 45px;
  box-shadow: 0px 3px 6px #00000029;
}

.colorFour-main-page {
  width: 12rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 0px 0px 45px 0px;
  box-shadow: 0px 3px 6px #00000029;
}

.colorTwo-main-page {
  width: 12rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 0px 45px 0px 0px;
  box-shadow: 0px 3px 6px #00000029;
}

.colorOne-main-page {
  width: 12rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 45px 0px 0px 0px;
  box-shadow: 0px 3px 6px #00000029;
}

.line {
  width: 65%;
  height: 1px;
  background-color: var(--menu-hex);
  opacity: 0.3;
}

.colors-main-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
}

.website-main {
  margin-bottom: 14vh;
  margin-top: 20px;
  text-align: center;
}

.events-box {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.9;
  width: 13rem;
  height: 7rem;
}

.event-title-box {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.event-spacing {
  padding-bottom: 1rem;
}

.edit-event {
  background-color: var(--menu-hex);
  border-radius: 0px 0px 45px 45px;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
}

.add-event-btn {
  background-color: var(--bold-green);
  color: #ffffff;
  font-size: 72px;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  text-decoration: none;
  box-shadow: 0px 3px 6px #00000029;
}

/*when not signed in*/

button.notSignedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #52a288;
  color: #ffffff;
  border-radius: 0px 25px;
  margin-left: 5.5rem;
  border: none;
  /* top: 698px;
    left: 357px;
    width: 222px;
    height: 115px;  
    desktop*/
  top: 341px;
  left: 72px;
  width: 89px;
  height: 46px;
  font-size: 14px;
  z-index: 1;
}

.notSignedIn {
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: var(--text-main-color);
}

h1.notSignedIn {
  left: 72px;
  width: 225px;
  font-size: 26px;
  line-height: 25px;
  letter-spacing: 2.31px;
  margin-bottom: 0;
  padding-bottom: 0;
}

p.notSignedIn {
  left: 72px;
  width: 225px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.6px;
}

.oval-container {
  height: 304px;
}

.ovals {
  position: relative;
}

.oval-1 {
  top: -43px;
  left: -3.874755859375px;
  width: 432px;
  height: 205px;
  border-radius: 100%;
  transform: matrix(0.83, -0.56, 0.56, 0.83, 0, 0);
  background: #add0bb 0% 0% no-repeat padding-box;
  border: 1px solid #5ea790;
  opacity: 1;
}

.oval-2 {
  top: -141px;
  left: -221.1767578125px;
  width: 368px;
  height: 222px;
  border-radius: 100%;
  transform: matrix(-0.99, 0.16, -0.16, -0.99, 0, 0);
  background: #516663 0% 0% no-repeat padding-box;
  border: 1px solid #5ea790;
  opacity: 1;
}

.oval-3 {
  top: -402px;
  left: 33px;
  width: 222px;
  height: 359px;
  border-radius: 100%;
  background: #c4dee0 0% 0% no-repeat padding-box;
  border: 1px solid #5ea790;
  opacity: 1;
}

.oval-4 {
  top: -731px;
  left: 161px;
  width: 383px;
  height: 180px;
  border-radius: 100%;
  transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
  background: #517587 0% 0% no-repeat padding-box;
  border: 1px solid #5ea790;
  opacity: 1;
}

/*profile page*/

.profile-title {
  background-color: var(--menu-hex);
  opacity: 100%;
  border-radius: 45px 45px 0px 0px;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  margin-top: -40px;
  padding-top: 10px;
}

.profile-text-align {
  justify-self: left;
  padding-left: 40px;
  margin: 12px;
  margin-top: 0px;
}

.profile-text-margin-top {
  margin-top: 12px;
}

.profile-text-margin-top-large {
  margin-top: 35px;
}

.change-position {
  position: relative;
  top: 5rem;
}

.profile-photo {
  width: 75px;
  height: 75px;
  border: var(--bold-green) 3px solid;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  top: 2.3rem;
  justify-self: center;
}

.profile-divider-dark {
  width: 13rem;
  height: 2.5rem;
  background-color: var(--menu-hex);
  opacity: 100%;
}

.profile-divider-dark-2 {
  width: 13rem;
  height: 5rem;
  background-color: var(--menu-hex);
  opacity: 100%;
}

.edit-profile-form {
  margin-top: 30px;
  justify-items: center;
}

.edit-profile {
  background-color: var(--menu-hex);
  opacity: 75%;
  border-radius: 45px 45px 0px 0px;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  padding-top: 10px;
}

.profile-box {
  border: 0;
  padding: 20px;
  background-color: #ffffffbd;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  height: max-content;
  width: 20rem;
  justify-items: center;
}

.profile-divider-light {
  width: 13rem;
  height: 2.5rem;
  background-color: var(--menu-hex);
  opacity: 75%;
}

.profile-label {
  margin-top: 6px;
  justify-self: left;
  padding-left: 40px;
}

.input-box {
  border: 0;
  border-radius: 45px;
  width: 15rem;
  margin-bottom: 12px;
}

.profile-form-btns-container {
  width: 25rem;
}

.submit-profile-btn {
  background-color: var(--bold-green);
  border-radius: 0px 0px 45px 45px;
  color: #ffffff;
  width: 10rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-left: 144px;
  z-index: 1;
  position: relative;
  top: -2.7rem;
}

.delete-profile-btn {
  background-color: var(--light-green);
  border-radius: 0px 0px 45px 45px;
  color: #ffffff;
  width: 10rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-right: 144px;
  z-index: 0;
}

/*on add event page*/

.add-event-title {
  background-color: var(--menu-hex);
  opacity: 100%;
  border-radius: 45px 45px 0px 0px;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  margin-top: 35px;
  padding-top: 10px;
}

.add-event-form {
  border: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffffbd;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  height: max-content;
  width: 20rem;
  justify-items: center;
}

.create-event-btn {
  background-color: var(--bold-green);
  border-radius: 0px 0px 45px 45px;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  position: relative;
  top: 44px;
}

.text-in-box {
  justify-self: left;
  padding-left: 40px;
}

/*on update event page*/

.update-event-title {
  background-color: var(--menu-hex);
  opacity: 75%;
  border-radius: 45px 45px 0px 0px;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  margin-top: 35px;
  padding-top: 10px;
}

.update-event-container {
  border: 0;
  padding: 20px;
  background-color: #ffffffbd;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  height: max-content;
  width: 20rem;
  justify-items: center;
}

.divider-light {
  width: 13rem;
  height: 2.5rem;
  background-color: var(--menu-hex);
  opacity: 75%;
}

.update-event-form {
  border: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffffbd;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  height: max-content;
  width: 20rem;
  justify-items: center;
}

.save-event-btn {
  background-color: var(--bold-green);
  border-radius: 0px 0px 45px 45px;
  color: #ffffff;
  width: 10rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-left: 144px;
  z-index: 1;
  position: relative;
  top: 2.75rem;
}

/*on design page*/
.design-title {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1.96px;
  padding: 5vh;
  text-align: left;
  align-self: left;
  justify-self: left;
}

.current-design {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.design-form {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.current-colors {
  width: 12rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 45px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 12px;
}

.pick-color {
  border-style: none;
  block-size: inherit;
  appearance: auto;
  box-sizing: unset;
  padding: 22px;
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 12px;
}

.color-text {
  text-align: center;
  color: var(--background-hex);
}

.color-input-box {
  border: 0;
  border-radius: 45px;
  width: 12rem;
  margin-bottom: 12px;
}

.new-color-submit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #52a288;
  color: #ffffff;
  border-radius: 0px 25px;
  border: none;
  top: 341px;
  left: 72px;
  width: 89px;
  height: 46px;
  font-size: 14px;
}

/*on availability page*/

h1.availability-current {
  background-color: var(--menu-hex);
  opacity: 75%;
  border-radius: 45px 45px 0px 0px;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  margin-top: 35px;
  padding-top: 10px;
}

.unjustify {
  justify-items: left !important;
}

.justify {
  justify-self: center !important;
  position: unset !important;
  justify-items: center !important;
}

.availability-page {
  text-align: left;
  align-items: flex-start;
  margin: 0;
}

.available-container {
  border: 0;
  padding: 22px;
  background-color: #ffffffbd;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  height: max-content;
  width: 20rem;
  justify-items: center;
  align-self: center;
}

.availability-form {
  text-align: left;
  align-items: flex-start;
  margin: 0;
}

.availability-input-box {
  border: 0;
  border-radius: 45px;
  width: 8rem;
  margin-bottom: 12px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.availability-current {
  border: 0;
  margin-bottom: 12px;
}

.dash {
  background-color: var(--text-main-color);
  width: 40px;
  height: 2px;
  position: relative;
  top: -6px;
}

.save-availability-btn {
  background-color: var(--bold-green);
  border-radius: 45px;
  color: #ffffff;
  width: 10rem;
  height: 3rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-top: 15px;
}

.avail-spacer {
  padding: 2vh;
}

/*on deleted page*/
h1.deleted {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1.96px;
  /* padding: 3vh; */
  text-align: left;
}

/*on confirmation page*/
h1.confirmation {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1.96px;
  /* padding: 3vh; */
  text-align: left;
}

.confirmation-btn {
  background-color: var(--menu-hex);
  border-radius: 45px;
  color: #ffffff;
  width: 10rem;
  height: 3rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-top: 15px;
}


/