@import url("https://use.typekit.net/ohb7fqk.css");

:root {
  --foreground-hex: #c4dedf;
  --background-hex: #c4dedf;
  --menu-hex: #2b536a;
  --circle-top-background-hex: #add0bb;
  --circle-middle-background-hex: #c4dee0;
  --circle-left-background-hex: #516663;
  --circle-right-background-hex: #517587;
  --bold-green: #52a288;
  --light-green: #a4cca9;
  --circle-border: 0.071rem solid #5ea790;
  --text-main-color: #2b536a;
  --text-font: "canada-type-gibson", sans-serif;
}

* {
  color: var(--text-main-color);
  font-family: var(--text-font) !important;
  font-style: normal;
  font-weight: 300;
  font-size: 1.08rem;
  line-height: 1.714rem;
}

body {
  background-color: var(--background-hex);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 8rem; */
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: var(--menu-hex);
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: sticky; /* Fixed/sticky position */
  top: 0;
  z-index: 2;
}

footer {
  background-color: var(--menu-hex);
  width: 100vw;
  height: 10vh;
  text-decoration: none;
  position: fixed;
  z-index: 2;
  bottom: 0;
}

.icon {
  background: transparent;
  border-radius: 1.786rem;
  padding: 0.35rem;
}

/* if you are on this page show the following */
.icon:active {
  background: #ffffff25;
  border-radius: 1.786rem;
  padding: 0.35rem;
}

/* on the header */
.logo {
  background-color: transparent;
  padding-left: 3rem;
}

.signout {
  background-color: transparent;
  border-style: none;
  justify-self: right;
  padding-right: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* can be used anywhere */

.no-margin {
  margin: 0 !important;
}

.bottom-of-page {
  margin-bottom: 14vh;
}

.justify-center {
  justify-content: center !important;
}

.width70 {
  width: 70%;
}

.underline {
  text-decoration: underline !important;
}

.italic {
  font-style: italic;
}

.padding {
  padding: 5vh;
}

/*two text options*/
.text-bold {
  font-style: normal;
  max-width: 30ch;
  margin-bottom: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  font-family: var(--text-font);
}

.text-regular {
  max-width: 30ch;
  margin: 0 auto;
  font-weight: 300;
  text-decoration: none;
  font-family: var(--text-font);
}

h3 {
  font-size: 1.286rem;
  line-height: 1.143rem;
  letter-spacing: 0.1114rem;
  padding: 2vh;
  justify-self: left;
  font-family: var(--text-font);
}

/* use this on any container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  overflow: hidden;
}

.container-overflow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  height: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.container-not-signed-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100vw;
  padding-top: 2rem;
  overflow: hidden;
}

/* 3 grid versions */
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

/*on index page*/

.contain-content {
  width: -webkit-fill-available;
}

.add-margin {
  margin-right: 0.357rem;
  margin-left: 0.357rem;
}

.availability {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
}

.availability-box {
  border: 0;
  margin-top: 3.571rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 1.429rem;
  background-color: #ffffffbd;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  border-radius: 1.786rem;
  height: max-content;
}

.edit-avialability-btn {
  background-color: var(--circle-top-background-hex);
  border-radius: 0rem 1.786rem 0rem 1.786rem;
  width: 100%;
  line-height: 3.571rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.429rem !important;
  max-width: none;
}

h2.home {
  font-size: 1.571rem;
  line-height: 1.571rem;
  letter-spacing: 0.14rem;
  padding: 5vh;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.colorThree-main-page {
  width: 11rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 0rem 0rem 0rem 3.214rem;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
}

.colorFour-main-page {
  width: 11rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 0rem 0rem 3.214rem 0rem;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
}

.colorTwo-main-page {
  width: 11rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 0rem 3.214rem 0rem 0rem;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
}

.colorOne-main-page {
  width: 11rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 3.214rem 0rem 0rem 0rem;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
}

.line {
  width: 65%;
  height: 0.071rem;
  background-color: var(--menu-hex);
  opacity: 0.3;
}

.colors-main-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
}

.website-main {
  margin-bottom: 14vh;
  margin-top: 1.429rem;
  text-align: center;
}

.events-box {
  background-color: #ffffff;
  border-radius: 1.786rem 1.786rem 0.7rem 0.7rem;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  opacity: 0.9;
  width: 13rem;
  height: 7rem;
}

.event-title-box {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.event-spacing {
  padding-bottom: 1rem;
}

.edit-event {
  background-color: var(--menu-hex);
  border-radius: 0rem 0rem 3.214rem 3.214rem;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  box-shadow: 0rem 0.214rem 0.429rem;
}

.add-event-btn {
  background-color: var(--bold-green);
  color: #ffffff;
  font-size: 5.143rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  vertical-align: middle;
  line-height: 5.1rem;
  text-decoration: none;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
}

/*when not signed in*/

button.notSignedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #52a288;
  color: #ffffff;
  border-radius: 0rem 1.786rem;
  margin-left: 3.9rem;
  border: none;
  /* top: 49.857rem;
    left: 25.5rem;
    width: 15.857rem;
    height: 8.214rem;  
    desktop*/
  top: 24.357rem;
  left: 5.143rem;
  width: 6.357rem;
  height: 3.286rem;
  font-size: 1rem;
  z-index: 1;
}

.notSignedIn {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1.571rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: var(--text-main-color);
}

h1.notSignedIn {
  left: 5.143rem;
  width: 16.071rem;
  font-size: 1.857rem;
  line-height: 1.786rem;
  letter-spacing: 0.165rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

p.notSignedIn {
  left: 5.143rem;
  width: 16.071rem;
  font-size: 1.286rem;
  line-height: 1.571rem;
  letter-spacing: 0.114rem;
}

.oval-container {
  height: 43.5vh;
  z-index: -1;
}

.ovals {
  position: relative;
}

.oval-1 {
  top: -3.071rem;
  left: -2.277rem;
  width: 30.857rem;
  height: 14.643rem;
  border-radius: 100%;
  transform: matrix(0.83, -0.56, 0.56, 0.83, 0, 0);
  background: #add0bb 0% 0% no-repeat padding-box;
  border: 0.071rem solid #5ea790;
  opacity: 1;
}

.oval-2 {
  top: -8.071rem;
  left: -15.798rem;
  width: 26.286rem;
  height: 15.857rem;
  border-radius: 100%;
  transform: matrix(-0.99, 0.16, -0.16, -0.99, 0, 0);
  background: #516663 0% 0% no-repeat padding-box;
  border: 0.071rem solid #5ea790;
  opacity: 1;
}

.oval-3 {
  top: -28.714rem;
  left: 1.3570000000000002rem;
  width: 15.857rem;
  height: 25.643rem;
  border-radius: 100%;
  background: #c4dee0 0% 0% no-repeat padding-box;
  border: 0.071rem solid #5ea790;
  opacity: 1;
}

.oval-4 {
  top: -51.214rem;
  left: 9.5rem;
  width: 27.357rem;
  height: 12.857rem;
  border-radius: 100%;
  transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
  background: #517587 0% 0% no-repeat padding-box;
  border: 0.071rem solid #5ea790;
  opacity: 1;
}

/*profile page*/

.profile-given-container {
  text-align: -webkit-center;
}

.input-box-profile {
  border: 0;
  border-radius: 3.214rem;
  width: 15rem;
  margin-bottom: 0.857rem;
}

.profile-title {
  background-color: var(--menu-hex);
  opacity: 100%;
  border-radius: 3.214rem 3.214rem 0rem 0rem;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  margin-top: -2.857rem;
  padding-top: 0.714rem;
}

.profile-text-align {
  justify-self: left;
  padding-left: 2.857rem;
  margin: 0.857rem;
  margin-top: 0rem;
}

.profile-text-margin-top {
  margin-top: 0.857rem;
}

.profile-text-margin-top-large {
  margin-top: 2.5rem;
}

.change-position {
  position: relative;
  top: 6.27rem;
}

.profile-photo {
  width: 5.357rem;
  height: 5.357rem;
  border: var(--bold-green) 0.214rem solid;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  top: 2.3rem;
  justify-self: center;
}

.profile-divider-dark {
  width: 13rem;
  height: 2.5rem;
  background-color: var(--menu-hex);
  opacity: 100%;
}

.profile-divider-dark-2 {
  width: 13rem;
  height: 5rem;
  background-color: var(--menu-hex);
  opacity: 100%;
}

.edit-profile-form {
  margin-top: 2.143rem;
  justify-items: center;
}

.edit-profile {
  background-color: var(--menu-hex);
  opacity: 75%;
  border-radius: 3.214rem 3.214rem 0rem 0rem;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  padding-top: 0.714rem;
}

.profile-box {
  border: 0;
  padding: 1.429rem;
  background-color: #ffffffbd;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  border-radius: 1.786rem;
  height: max-content;
  width: 18.5rem;
  justify-items: center;
}

.profile-divider-light {
  width: 13rem;
  height: 2.5rem;
  background-color: var(--menu-hex);
  opacity: 75%;
}

.profile-label {
  margin-top: 0.429rem;
  justify-self: left;
  padding-left: 2.857rem;
}

.input-box {
  border: 0;
  border-radius: 3.214rem;
  width: 12rem;
  margin-bottom: 0.857rem;
  /* margin-right: 2.5rem; */
}

.profile-form-btns-container {
  width: 25rem;
}

.submit-profile-btn {
  background-color: var(--bold-green);
  border-radius: 0rem 0rem 3.214rem 3.214rem;
  color: #ffffff;
  width: 8.4rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-left: 7.286rem;
  z-index: 1;
  position: relative;
  top: -2.7rem;
}

.delete-profile-btn {
  background-color: var(--light-green);
  border-radius: 0rem 0rem 3.214rem 3.214rem;
  color: #ffffff;
  width: 8.4rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-right: 7.286rem;
  z-index: 0;
}

/*on add event page*/

.add-event-title {
  background-color: var(--menu-hex);
  opacity: 100%;
  border-radius: 3.214rem 3.214rem 0rem 0rem;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  margin-top: 2.5rem;
  padding-top: 0.714rem;
}

.add-event-form {
  border: 0;
  padding-right: 1.429rem;
  padding-left: 1.429rem;
  padding-top: 3.214rem;
  padding-bottom: 0rem;
  background-color: #ffffffbd;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  border-radius: 1.429rem;
  height: max-content;
  width: 18rem;
  justify-items: center;
}

.create-event-btn {
  background-color: var(--bold-green);
  border-radius: 0rem 0rem 3.214rem 3.214rem;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  position: relative;
  top: 2.775rem;
}

.text-in-box {
  justify-self: left;
  padding-left: 2.857rem;
}

/*on update event page*/

.update-event-title {
  background-color: var(--menu-hex);
  opacity: 75%;
  border-radius: 3.214rem 3.214rem 0rem 0rem;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  margin-top: 2.5rem;
  padding-top: 0.714rem;
}

.update-event-container {
  border: 0;
  padding: 1.429rem;
  background-color: #ffffffbd;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  border-radius: 1.786rem;
  height: max-content;
  width: 18rem;
  justify-items: center;
}

.divider-light {
  width: 13rem;
  height: 2.5rem;
  background-color: var(--menu-hex);
  opacity: 75%;
}

.update-event-form {
  border: 0;
  padding-right: 1.429rem;
  padding-left: 1.429rem;
  padding-top: 3.214rem;
  padding-bottom: 0rem;
  background-color: #ffffffbd;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  border-radius: 1.786rem;
  height: max-content;
  width: 18rem;
  justify-items: center;
}

.save-event-btn {
  background-color: var(--bold-green);
  border-radius: 0rem 0rem 3.214rem 3.214rem;
  color: #ffffff;
  width: 9rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-left: 7.286rem;
  z-index: 1;
  position: relative;
  top: 2.75rem;
}

/*on design page*/
.design-title {
  font-size: 1.571rem;
  line-height: 1.571rem;
  letter-spacing: 0.14rem;
  padding: 5vh;
  text-align: left;
  align-self: left;
  justify-self: left;
}

.current-design {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 0rem;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.design-form {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 0rem;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.current-colors {
  width: 12rem;
  height: 5rem;
  line-height: 4.5rem;
  border-radius: 3.214rem;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  margin: 0.857rem;
}

.pick-color {
  border-style: none;
  block-size: inherit;
  appearance: auto;
  box-sizing: unset;
  padding: 1.571rem;
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 3.214rem;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  margin: 0.857rem;
}

.color-text {
  text-align: center;
  color: var(--text-main-color);
}

.color-input-box {
  border: 0;
  border-radius: 3.214rem;
  width: 12rem;
  margin-bottom: 0.857rem;
}

.color-reset-box {
  margin-bottom: 1rem;
}

.color-reset {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--background-hex);
  /* Not removed via appearance */

  font: inherit;
  color: var(--text-main-color);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--text-main-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  margin-bottom: 1rem;
  margin-top: 0.4rem;
  margin-left: 0;
  margin-right: 0.5rem;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--text-main-color);
  /* Windows High Contrast Mode */
  background-color: var(--text-main-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid var(--text-main-color);
  outline-offset: max(2px, 0.15em);
}

.new-color-submit-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #52a288;
  color: #ffffff;
  border-radius: 0rem 1.786rem;
  border: none;
  top: 24.357rem;
  left: 5.143rem;
  width: 6.357rem;
  height: 3.286rem;
  font-size: 1rem;
}

/*on availability page*/

h1.availability-current {
  background-color: var(--menu-hex);
  opacity: 75%;
  border-radius: 3.214rem 3.214rem 0rem 0rem;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-bottom: 0;
  margin-top: 2.5rem;
  padding-top: 0.714rem;
}

.unjustify {
  justify-items: left !important;
}

.justify {
  justify-self: center !important;
  position: unset !important;
  justify-items: center !important;
}

.availability-page {
  text-align: left;
  align-items: flex-start;
  margin: 0;
}

.available-container {
  border: 0;
  padding: 1.571rem;
  background-color: #ffffffbd;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
  border-radius: 1.786rem;
  height: max-content;
  width: 18rem;
  justify-items: center;
  align-self: center;
}

.availability-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.availability-form {
  text-align: left;
  margin: 0;
  align-self: center;
}

.availability-input-box {
  border: 0;
  border-radius: 3.214rem;
  width: 7rem;
  margin-bottom: 0.857rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.availability-current {
  border: 0;
  margin-bottom: 0.857rem;
}

.dash {
  background-color: var(--text-main-color);
  width: 2.857rem;
  height: 0.143rem;
  position: relative;
  top: -0.429rem;
}

.save-availability-btn {
  background-color: var(--bold-green);
  border-radius: 3.214rem;
  color: #ffffff;
  width: 10rem;
  height: 3rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-top: 1.071rem;
}

.avail-spacer {
  padding: 2vh;
}

/*on deleted page*/
h1.deleted {
  font-size: 1.571rem;
  line-height: 1.571rem;
  letter-spacing: 0.14rem;
  /* padding: 3vh; */
  text-align: left;
}

/*on confirmation page*/
h1.confirmation {
  font-size: 1.571rem;
  line-height: 1.571rem;
  letter-spacing: 0.14rem;
  /* padding: 3vh; */
  text-align: left;
}

.confirmation-btn {
  background-color: var(--menu-hex);
  border-radius: 3.214rem;
  color: #ffffff;
  width: 10rem;
  height: 3rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-top: 1.071;
}

/* on public link page */
.public-container {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-items: center;
  align-content: center;
}

.top-public {
  padding-top: 3rem;
  opacity: 75%;
}

.event-title-public {
  font-size: 1.714rem;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.length-public {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  display: inline-flex !important;
  justify-content: flex-start;
  align-items: center;
}

.length-word-public {
  padding-left: 0.357rem !important;
}

.description-public {
  margin-bottom: 1.429rem !important;
}

.date-time-label-public {
  font-size: 1.286rem;
}

.grid-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-gap: 0rem;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.clock-icon {
  display: inline;
}

.date-picker {
  /* display: inline; */
  font-weight: 300;
  border-radius: 3.214rem;
  background-color: var(--background-hex);
}

.public-spacer {
  margin-top: 1.786rem;
}

.create-calendar-event {
  background-color: var(--menu-hex);
  border-radius: 3.214rem;
  color: #ffffff;
  width: 10rem;
  height: 3rem;
  align-self: center;
  text-align: center;
  border-style: none;
  margin-top: 1.786rem;
}

.public-text {
  justify-self: left;
  padding-left: 2.857rem;
}

.public-labels {
  margin-right: 1rem;
  margin-left: 1rem;
}

.public-input-box {
  border: 0;
  border-radius: 3.214rem;
  width: 8rem;
  margin-bottom: 0.857rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.react-datepicker {
  color: var(--text-main-color);
  border: none !important;
  border-radius: 3.214rem !important;
  box-shadow: 0rem 0.214rem 0.429rem #00000029;
}

.react-datepicker__month-container {
  padding: 1.071rem;
}

.react-datepicker__time-container .react-datepicker__time {
  border-bottom-right-radius: 3.214rem !important;
}

.react-datepicker__time-container {
  border: 0 !important;
  width: 8.214rem !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-bottom: none !important;
  padding: 0 !important;
}

.react-datepicker__header--time {
  padding-top: 0.714rem !important;
  padding-bottom: 0.357rem !important;
  background-color: transparent !important;
}

.react-datepicker__time-list {
  height: 15.321rem !important;
  border-bottom-right-radius: 3.214rem !important;
}

.react-datepicker__time-list-item {
  color: var(--text-main-color) !important;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--disabled {
  color: #ccc !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--text-main-color) !important;
  font-weight: normal !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--text-main-color) !important;
  margin: 0.5rem;
}

.react-datepicker__day {
  /* color: var(--bold-green) !important; */
  /* background-color: #a4cca960 !important; */
  border-radius: 50% !important;
}

.react-datepicker__day--disabled {
  color: var(--text-main-color) 15% !important;
  background-color: transparent !important;
  opacity: 50% !important;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: 500 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 50% !important;
  background-color: var(--text-main-color) !important;
  color: #fff !important;
}

@media screen and (min-width: 572px) {
  /* this is for tablet and bigger */
  .available-container {
    width: 27rem;
  }

  .oval-container {
    width: 42vw;
    align-self: center;
  }

  .notSignedIn {
    margin-left: 6rem;
    margin-bottom: 0.2rem !important;
  }

  button.notSignedIn {
    margin-left: 7.9rem;
    width: 9.357rem;
    height: 4.286rem;
    font-size: 1.4rem;
    border-radius: 0rem 3.3rem;
  }

  h1.notSignedIn {
    left: 5.143rem;
    width: 22.071rem;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.2rem;
  }

  p.notSignedIn {
    left: 5.143rem;
    width: 25.071rem;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    margin-top: 0 !important;
  }

  .oval-1 {
    top: -7.071rem;
    left: -15.277000000000001rem;
    width: 69.857rem;
    height: 29.643rem;
  }

  .oval-2 {
    top: -15.070999999999998rem;
    left: -41.798rem;
    width: 41.286rem;
    height: 23.857rem;
  }

  .oval-3 {
    top: -42.714rem;
    left: -9.643rem;
    width: 24.857rem;
    height: 41.643rem;
  }

  .oval-4 {
    top: -81.214rem;
    left: 5.5rem;
    width: 57.357rem;
    height: 26.857rem;
  }
}
@media screen and (min-width: 1008px) {
  /* this is for the not signed in desktop */
  .big-container {
    width: 71vw;
    align-self: center;
  }

  h1.notSignedIn {
    width: 36.071rem;
    font-size: 5rem;
    line-height: 5rem;
  }

  p.notSignedIn {
    width: 41.071rem;
    font-size: 3.5rem;
    line-height: 3rem;
  }

  button.notSignedIn {
    width: 13.357rem;
    height: 6.286rem;
    font-size: 2.3rem;
  }

  .notSignedIn {
    margin-bottom: 1.5rem !important;
  }

  .oval-container {
    height: 27vh;
    align-self: center;
  }

  .oval-1 {
    top: -11.070999999999998rem;
    left: -11.277000000000001rem;
    width: 91.857rem;
    height: 37.643rem;
  }

  .oval-2 {
    top: -32.071rem;
    left: -51.798rem;
    width: 62.286rem;
    height: 25.857rem;
  }

  .oval-3 {
    top: -60.714rem;
    left: 2.357rem;
    width: 26.857rem;
    height: 51.643rem;
  }

  .oval-4 {
    top: -107.214rem;
    left: 16.5rem;
    width: 69.357rem;
    height: 30.857rem;
  }

  /* this is for the logged in stuff for desktop */

  .contain-content {
    margin-top: 4rem;
    margin-left: 6rem;
  }

  .home-main-grid {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    grid-template-columns: auto auto;
  }

  .profile-title {
    margin-top: -4.5rem;
  }

  .profile-given-container {
    margin-right: 13rem;
    margin-bottom: 8rem;
  }

  .profile-main-container {
    flex-direction: row;
  }

  .add-event-title {
    margin-top: 10.5rem;
  }

  .availability-main-container {
    flex-direction: row;
    align-items: center;
  }

  .availability-form {
    margin-top: 1rem;
  }

  .design-main-container {
    flex-direction: row;
    align-items: center;
  }

  .design-form {
    margin-top: 3rem;
  }

  .current-design-container {
    margin-right: 14rem;
  }

  .top-public {
    padding-top: 2rem;
  }

  .bottom-of-page {
    margin-bottom: 10vh;
  }

  .description-public {
    margin-bottom: 0.7rem !important;
  }

  .text-regular {
    max-width: 48ch;
  }
}
